* {box-sizing: border-box; font-family: 'Lexend', sans-serif!important; scroll-behavior: smooth;}
html {max-width: 100vw; margin: 0; overflow-x: hidden;}
body {margin: 0; }
a {text-decoration: none; color: inherit; font-family: 'Lexend', sans-serif;}
a:hover {text-decoration: underline;}
element {font-size: unset!important;}
h1, h2, h3, h4, h5, h6, p, a {margin: 0;}
p {font-weight: 300; font-size: 14px; line-height: 20px;}

.spacer {height: 50px;}
.hover:hover {transform: scale(1.05); cursor: pointer;}
.button {padding: 5px 15px; border-radius: 6px; margin: 15px 0px; font-size: 16px; font-weight: 200; text-decoration: none!important;}
.outline-button {border: 1px solid black;}
.outline-button:hover {border: 2px solid black; font-weight: 400;}

.flex-start-start {display: flex; align-items: flex-start; justify-content: flex-start;}
.flex-spacebetween-start {display: flex; align-items: space-between; justify-content: flex-start; flex-direction: column;;}
.flex-center-center {display: flex; align-items: center; justify-content: center;}
.flex-center-spacebetween {display: flex; align-items: center; justify-content: space-between;}
.flex-end-center {display: flex; align-items: flex-end; justify-content: center;}
.flex-column {flex-direction: column;}
.flex-wrap {flex-wrap: wrap;}
.flex-start-spacebetween {display: flex; align-items: flex-start; justify-content: space-between;}
.bottom-box-shadow {box-shadow: 0px 3px 3px rgba(0,0,0,0.25);}
.top-box-shadow {box-shadow: 0px -3px 3px rgba(0,0,0,0.25);}
.basic-padding {padding: 25px;}
.large-padding {padding: 50px;}
// Header Nav
.navigation-side-bar { max-width: 325px; width: 100%; height: 100vh; padding: 25px;}

.site-header {height: 90vh; }
.site-title-link {font-size: 32px; font-weight: 400;}
.site-title-link:hover {text-decoration: none!important;}
.active-link {text-decoration: underline;}
.site-tagline {font-size: 16px; font-weight: 200;}
.nav-icon {height: 20px;}
.site-navigation-list {margin: 0; padding: 0;}
.site-navigation-list li {list-style-type: none; margin: 5px; font-size: 14px;}
#contact-btn-mobile {display: none;}
#contact-btn {width: 150px;}
.site-footer {height: 10vh; }
.site-footer a {color: gray; font-weight: 300;}
.footer-copyright {text-align: center;}
.wide-nav-container {padding: 25px;}
.wide-nav nav ul {display: flex; align-items: center; justify-content: center;}

#de-tag {font-size: 12px; color: gray;}

@media screen and (max-width: 750px) {
  .wide-nav-container {
    flex-wrap: wrap;
  }
  .nav-title {margin-bottom: 15px;}
  #contact-btn-mobile {display: block;}
  #contact-btn {display: none;}
}

// homepage

//about page 
.image-block-card-dynamic-font-sizing .sqs-block-image .design-layout-card .image-subtitle-wrapper {
  font-size: 14px!important;
}

#contactForm {margin: 25px; border: 1px solid black; border-radius: 6px;}

#about-image {width: 300px; float: left; margin: 0 25px 25px 0; border-radius: 6px; border: 0.05px solid black;}
#aboutText {text-align: justify; min-width: 300px;}

@media screen and (max-width: 750px) {
  #about-bio {flex-wrap: wrap;}
  #about-image {margin: 0 0 25px 0; width: 100%;}
  
}


// Projects Page
.page-mini-hero { margin: 25px;
  background-size: cover; background-repeat: no-repeat; height: 40vh; border-radius: 6px;
}
.page-mini-hero h1 {color: white;}